# This is the default configuration file, which comes with every openHAB distribution.
# You should do a copy of it with the name 'openhab.cfg' and configure your personal
# settings in there. This way you can be sure that they are not overwritten, if you
# update openHAB one day.


####################################################################################### 
#####                        General configurations                               #####
####################################################################################### 

# Configuration folders (must exist as a subdirectory of "configurations"; the value
# tells the number of seconds for the next scan of the directory for changes. A
# value of -1 deactivates the scan).
# A comma separated list can follow after the refresh value. This list defines a filter
# for valid file extensions for the models.
folder:items=10,items
folder:sitemaps=10,sitemap
folder:rules=10,rules
folder:scripts=10,script
folder:persistence=10,persist

# configures the security options. The following values are valid:
# ON = security is switched on generally
# OFF = security is switched off generally
# EXTERNAL = security is switched on for external requests 
#            (e.g. originating from the Internet) only
# (optional, defaults to 'OFF')
security:option=EXTERNAL

# the Netmask to define a range of internal IP-Addresses which doesn't require
# authorization (optional, defaults to '192.168.1.0/24')
security:netmask=192.168.0.0/24

# The name of the default persistence service to use
persistence:default=myopenhab

# The refresh interval for the main configuration file. A value of '-1' 
# deactivates the scan (optional, defaults to '-1' hence scanning is deactivated)
#mainconfig:refresh=

# Bind service discovery to specific hostname or IP address
#servicediscovery:bind_address=127.0.0.1

################################## Chart Servlet ######################################
#
# This section defines the configuration for the chart servlet.
chart:provider=default

#
# Set the default height of a chart if the client doesn't provide this in the request
# defaults to 240
#chart:defaultHeight=240

#
# Set the default width of a chart if the client doesn't provide this in the request
# defaults to 480
#chart:defaultWidth=480

#
# Set a scale factor. This is used if the client sets the size in the request.
# defaults to 1 (ie no scaling)
#chart:scale=1

######################### Logging Persistence Service #################################
#
# the logback encoder pattern to use to write log entries
# see http://logback.qos.ch/manual/layouts.html#ClassicPatternLayout for all options
# the item name is available as the "logger" name, the state as the "msg"
logging:pattern=%date{ISO8601} - %-25logger: %msg%n

############################## Nest binding ###########################################
#
# Data refresh interval in ms (optional, defaults to 60000)
#nest:refresh=

# the Nest Client ID needed to use the API, must be supplied
nest:client_id=8ad8589b-a973-4dc6-9153-59f67ceab036

# the Nest Client Secret needed to use the API, must be supplied
nest:client_secret=tx0lpTiGA8UQ8ZlELVWKiHT3T

# the PIN code that Nest presented when you authorized the above client, must be supplied
nest:pin_code=BPQLZ2LE

################################# Onkyo  Binding ######################################
#
# Host of the first Onkyo device to control 
onkyo:integrareceiver.host=192.168.0.202
# Port of the Onkyo to control (optional, defaults to 60128)
# onkyo:hometheater.port=

############################ Epson Projector Binding ##################################
#
# Serial port or Host and port of the first Epson projector to control 
epsonprojector:hometheaterprojector.serialPort=/dev/epson

################################ Z-Wave  Binding ######################################
#
# The Z-Wave controller port. Valid values are e.g. COM1 for Windows and /dev/ttyS0 or
# /dev/ttyUSB0 for Linux
zwave:port=/dev/zwavestick

# Z-Wave nightly heal time. This is the hour (eg 2AM) at which the automatic nightly
# network heal will be performed.
zwave:healtime=2

################################# Astro Binding #######################################
#
# The latitude
astro:latitude=40.0213134

# The longitude
astro:longitude=-86.1460522

# Refresh interval for azimuth and elevation calculation in seconds
# (optional, defaults to disabled)
astro:interval=60
